################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DelegatesDemo/.vs
/DelegatesDemo/DelegateDemo/bin/Debug/net6.0
/DelegatesDemo/DelegateDemo/obj
/DelegatesDemo/DelegateLib/bin/Debug/net6.0
/DelegatesDemo/DelegateLib/obj
